body {
    padding: 0 auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
}

body {
    display: grid;
}

#bar {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100vw;
}

#bar>nav {
    display: flex;
    flex-direction: column;
    width: 5rem;
    gap: 2ch;
}

button {
    cursor: pointer;
    border: none;
    font-size: large;

}

#main {
    display: flex;
    flex-direction: column;
}